# OS
.DS_Store
Thumbs.db

# Editors
*.swp
*.swo
*~
.vscode/
.idea/

# SOPS age keys
# NOTE: age-key.txt is committed intentionally for this workshop.
# In production, NEVER commit private keys to Git.
*.agekey

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
